.add-video-modal {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	font-family: "Inter", "Noto Sans JP", sans-serif;
	color: #1E1F1E;

	& .modal-main {
		display: flex;
		flex-direction: column;
		row-gap: 8px;

		& .tab-container {
			position: relative;
			width: 100%;
			height: 40px;
			display: flex;
			flex-direction: row;
			border-bottom: #D6D6D6 1px solid;

			& .tab {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1em;
				transition: background-color 0.2s ease;

				&:hover {
					background-color: var(--background-color-hover);
				}

				&:active {
					background-color: var(--background-color-active);
				}
			}

			& .tab-indicator {
				position: absolute;
				bottom: -1px;
				height: 4px;
				background-image: linear-gradient(to right, #faf623, #f36bca);
				transition: left 0.2s ease,
					width 0.2s ease;
			}
		}

		& .search-bar-container {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: fit-content;
			padding-inline: 8px;

			& input.search-bar {
				width: 100%;
				height: 36px;
				padding-inline: 12px;
				border-radius: 4px;
				outline: none;
				background-color: #D9D9D9;
				font-size: 0.875em;
				color: #757575;

				&::placeholder {
					color: #757575;
				}
			}

			& .clear-button {
				position: absolute;
				width: 24px;
				height: 24px;
				right: 16px;

				& svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	& .modal-bottom {
		display: flex;
		flex-direction: row-reverse;
		column-gap: 1rem;

		& button {
			width: 6rem;
			height: 2.5rem;
			border-radius: 3rem;
			background-image: linear-gradient(to bottom right, #F5F5F5, #F1F1F1);
			box-shadow: 3px 3px 4px #0000004D, -3px -3px 4px #FFFFFFB8;
			transition: all 0.2s ease;

			&.modal-confirm-button {
				background-image: linear-gradient(to bottom right, #faf623, #f36bca);
				background-size: 200% 200%;
				color: var(--background-color);
				animation-name: gradation;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-timing-function: ease-in-out;
				animation-duration: 2.0s;
				animation-play-state: paused;
				animation-delay: -1.0s;
			}

			&:hover {
				scale: 1.05;
				box-shadow: 1px 1px 8px #00000040, -1px -1px 8px #FFFFFFB8;
				animation-play-state: running;
			}
		}
	}
}

@keyframes gradation {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 100% 100%;
	}
}
