.video-controller {
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	padding-block: 17px;
	padding-inline: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	box-shadow: 3px 3px 4px #0000004D, -3px -3px 4px #FFFFFFB8;
	transition: all 0.2s ease;
	background-image: linear-gradient(to bottom right var(--background-color), #F1F1F1);
	overflow: hidden;

	&[data-platform="youtube"] {
		--platform-color: rgba(255, 0, 0, 0.15);
	}

	&[data-platform="twitch"] {
		--platform-color: rgba(100, 65, 165, 0.15);
	}

	&:before {
		content: "";
		position: absolute;
		top: -93.55px;
		left: -56.55px;
		width: 150px;
		height: 150px;
		background-color: var(--platform-color);
		z-index: -1;
		rotate: -35deg;
	}

	& .labels {
		width: 100%;
		height: 50px;
		padding-inline: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		row-gap: 5px;

		& .video-title {
			width: 100%;
			height: 25px;
			font-size: 1.125rem;
			color: #323332;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		& .channel-name {
			width: 100%;
			height: 20px;
			font-size: 0.875rem;
			color: #5A5A5A;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		& .video-title-skeleton {
			width: 100%;
			height: 25px;
			background: linear-gradient(135deg,
					#e0e0e0 25%,
					#f0f0f0 50%,
					#e0e0e0 75%);
			background-size: 200% 100%;
			border-radius: 10px;
			animation: shimmer 1.2s infinite linear;
		}

		& .channel-name-skeleton {
			width: 100%;
			height: 20px;
			background: linear-gradient(135deg,
					#e0e0e0 25%,
					#f0f0f0 50%,
					#e0e0e0 75%);
			background-size: 200% 100%;
			border-radius: 10px;
			animation: shimmer 1.2s infinite linear;
		}
	}

	& .controls {
		display: flex;
		flex-direction: row;
		justify-content: center;
		column-gap: 5px;

		& .control-item {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: var(--widget-color-primary);
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: var(--background-color-hover);
			}

			&:active {
				background-color: var(--background-color-active);
			}

			&[data-type="play"] {
				&[data-state="playing"] {
					& svg {
						width: 50px;
						height: 50px;
					}
				}

				&[data-state="paused"] {
					& svg {
						width: 50px;
						height: 50px;
						transform: translateX(2px);
					}
				}
			}

			&[data-type="mute"] {
				& svg {
					width: 45px;
					height: 45px;
				}
			}

			&[data-type="remove"] {
				margin-inline-start: auto;
			}
		}

		& .volume-control-container {
			cursor: pointer;
			display: flex;
			flex-direction: row;
			column-gap: 5px;
			align-items: center;

			& .volume-slider {
				appearance: none;
				width: 0;
				opacity: 0.0;
				transition: all 0.1s ease;
				height: 6px;
				border-radius: 99px;
				background: linear-gradient(90deg, var(--icon-color-primary) calc(var(--ratio) * 100%), #dddddd calc(var(--ratio) * 100%));
				box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(255, 255, 255, 0.15);
				cursor: pointer;

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: var(--icon-color-primary);
					box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), -2px -2px 4px rgba(255, 255, 255, 0.15);
				}
			}

			&:hover .volume-slider {
				width: 100px;
				opacity: 1.0;
			}
		}
	}

	&:hover {
		scale: 1.025;
		box-shadow: 1px 1px 8px #00000040, -1px -1px 8px #FFFFFFB8;
	}

	animation: pop-in 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;

	&.disappearing {
		animation: pop-out 0.3s ease-in-out forwards;
		pointer-events: none;
	}
}

@keyframes pop-in {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	60% {
		transform: scale(1.04);
		opacity: 1;
	}

	80% {
		transform: scale(0.97);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes pop-out {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
		opacity: 1;
	}

	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes shimmer {
	0% {
		background-position: -200% 0;
	}

	100% {
		background-position: 200% 0;
	}
}
