:root {
    --background-color: #F5F5F5;
    --background-color-hover: #D6D6D6;
    --background-color-active: #B7B7B7;
    --icon-color-primary: #5A5A5A;

    font-family: "Inter", "Noto Sans JP";
    font-weight: 400;
}
