.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0.0, 0.0, 0.0, 0.4);
	cursor: default;
}

.modal-content {
	position: fixed;
	display: block;
	width: 15rem;
	height: 15rem;
	background-color: white;
}
