.layout_options_container {
    width: 300px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout_option {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}

.layout_option_selected {
    border-color: red;
}

.layout_option_placeholder {
    background-color: lightgray;
    width: 80%;
    height: 80%;
    margin: auto;
    display: block;
    border-radius: 3px;
}

.layout_option_selected .layout_option_placeholder {
    background-color: lightcoral;
}
